.pokemon-name-list{
    text-decoration: none;
    color: black;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.normal{
    background-color: #A8A77A;
}
.poison{
    background-color: #A33EA1;
}
.electric{
    background-color: #F7D02C;
}
.grass{
    background-color: #7AC74C;
}
.dragon{
    background-color: #6F35FC;
}
.psychic{
    background-color: #F95587;
}
.ice{
    background-color: #96D9D6;
}
.fire{
    background-color: #EE8130;
}
.rock{
    background-color: #B6A136;
}
.fighting{
    background-color: #C22E28;
}
.flying{
    background-color: #A98FF3;
}
.fairy{
    background-color: #D685AD;
}
.steel{
    background-color: #B7B7CE;
}
.water{
    background-color: #6390F0;
}
.bug{
    background-color: #A6B91A;
}
.dark{
    background-color: #705746;
}
.ground{
    background-color: #E2BF65;
}
.ghost, .shadow{
    background-color: #735797;
}

.type{
    border-radius: 9999px;
    border: white solid 2px;
    min-width: fit-content;
    max-width: 80px;
    text-align: center;
    color: white;
}

.pokemon-name{
    font-size: 30px;
}